body {
  margin: 0;
}

.ceiling {
  background: linear-gradient(rgb(255, 255, 255), rgb(0, 0, 0));
}

.ground {
  background: linear-gradient(rgb(0, 0, 0), rgb(100, 50, 0));
}

.all {
  grid-template-rows: 5% 7.5% 52.5% 30% 5%;
  grid-template-columns: 2.5% 5% 75% 10% 5% 2.5%;
}

.walls {
  grid-template-rows: 1fr;
  grid-template-columns: repeat(900, 1fr);
}

.back {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
}

.moves {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.message {
  background:rgb(220,220,220);
}

.message2 {
  background:rgba(0, 0, 0, 0.5);
  color:rgb(255, 255, 255);
}